html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font: 1em Sans-Serif;
  background: #505750;
}

h1 {
  margin: 1rem 1rem 0;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.2rem;
  color: #F8F854;
}

h1, h2 {
  padding-bottom: 1rem;
}

#content {
  flex: 1 5 auto;

  display: flex;
  flex-flow: row nowrap;
  padding: 20px;
}

#content .content-block {
  margin: 0 1rem 0 1rem;
}

#sidebar {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 10rem;
  align-self: center;
}

#sidebar-block > h2 {
  text-transform: uppercase;
}

#sidebar-block {
  padding: 2rem 2rem;
  margin: 20px;
  display: inline-block;
  position: relative;
  border: 2px solid #fff; /* White border inside the blocks */
  border-radius: 6px; /* Adjust the radius to match the outer block's border */
}

#sidebar-block:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  z-index: -1;
  background-color: #5454FB;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
}

main {
  border: #98c1d9 1px solid;
  flex: 10 1 0;
}

nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  list-style: none;
}

nav > ul li a {
  display: block;
  padding: 0.3rem 1.5rem;
  font-size: 1.4rem;
  color: whitesmoke;
  text-decoration: none;
}

nav > ul li:hover {
  background: black;
}

nav > ul li .active {
  background-color: #AAAAAA;
  color: #040402;
  font-weight: bold;
}

footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  background: #FAFAFB;
  height: 1.8rem;
}

footer > p {
  color: #AF0000;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

#year {
  color: black;
  font-weight: normal;
}

@media all and (max-width: 900px) {
    #content {
        flex-flow: column nowrap;
    }

  #content .content-block {
    margin: 1rem 0 1rem 0;
  }

  #sidebar-block {
    flex: 1 0 5rem;
    align-self: stretch;
  }

  main {
    flex: 10 1 0;
  }

  nav {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  nav > ul li {
    display: inline-block;
    padding: 0 1rem 0 1rem;
  }
}


