*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: $font-size-body;
}

body {
  background-color: $white;
  color: $veryDarkBlackishBlue;
  font-family: 'Barlow Semi Condensed', sans-serif;

  min-height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
