*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 0.8125rem; //13px
}

body {
  background-color: $white;
  color: $veryDarkBlackishBlue;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

main {

}