// Media Queries
$mq-small-down: "only screen and (max-width: 620px)";
$mq-small-up: "only screen and (min-width: 620px)";

$mq-middle-down: "only screen and (max-width: 999px)";
$mq-middle-up: "only screen and (min-width: 1000px)";

// Others
$card-margin: 2rem;
$card-padding: 1.5rem;