@import "../css/minireset";
@import "variables";
@import "colors";
@import "global";
@import "typography";

section {
  border: 1px solid $lightGrayishBlue;
}

section.card {
  padding: $card-padding;
  border-radius: 13px;
  box-shadow: 1rem 1rem 8rem -1rem $lightGray;
}

main {
  padding-top: 3rem;
  display: grid;
  grid-template-rows: auto;
  column-gap: $card-margin;
  row-gap: $card-margin;
}

@mixin card-light {
  .name, .caption {
    color: $lightGrayishBlue;
  }
  .verified {
    color: $lightGrayishBlue50;
  }
  .quotation {
    color: $lightGrayishBlue50;
  }
}

@mixin card-dark {
  .name, .caption {
    color: $veryDarkBlackishBlue;
  }
  .verified {
    color: $veryDarkBlackishBlue50;
  }
  .quotation {
    color: $veryDarkBlackishBlue70;
  }
}

.card-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.card-name-wrapper {
  margin-left: 1rem;
}

.card img {
  display: block;
  height: 3rem;
  border-radius: 50%;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: $font-size-caption;
  font-weight: 700;
}

.card1 {
  grid-area: card1;
  background-color: $moderateViolet;
  @include card-light;

  background-image: url("../source/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-size: 8rem 8rem;
  background-position: 75% top;
}

.card2 {
  grid-area: card2;
  background-color: $veryDarkGrayishBlue;
  @include card-light;
}
.card3 {
  grid-area: card3;
  background-color: $white;
  @include card-dark;
}
.card4 {
  grid-area: card4;
  background-color: $veryDarkBlackishBlue;
  @include card-light;
}
.card5 {
  grid-area: card5;
  background-color: $white;
  @include card-dark;
}

div.attribution {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: $font-size-attribution;
  text-align: center;

  a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
  }
}

@media #{$mq-middle-up} {
  main {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "card1 card1 card2 card5"
    "card3 card4 card4 card5";
  }
}

@media #{$mq-middle-down} {
  main {
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "card1 card1 card2"
    "card3 card4 card4"
    "card5 card5 card5";
  }
}

@media #{$mq-small-down} {
  main {
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5";
  }
}
