@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

h1{
  @apply text-5xl font-light;
  line-height: 3.5rem;
}

h2{
  @apply text-4xl font-light;
}

.container-80{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.paragraph {
  @apply text-cst-neutral-grayishblue;
}

.main-menu-link {
  @apply text-base font-normal leading-loose px-4 pt-1 block;
}

.main-menu-link.active {
  @apply font-bold;
}

.main-menu-link:hover {
  @apply text-cst-primary-darkblue;
}

.footer-menu li:hover {
}

.invite-button {
  @apply px-10 py-2 text-base text-cst-neutral-white font-bold rounded-3xl
  bg-gradient-to-r from-cst-primary-limegreen to-cst-primary-brightcyan

}

.invite-button:hover {
  @apply from-cst-primary-brightcyan to-cst-primary-limegreen;
}

.card1, .card2{
  border: 1px solid rebeccapurple;
}

.card1-icon{
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  @apply border;
}

.icon-online{
  background-image: url('../../source/images/icon-online.svg');
}

.icon-budgeting{
  background-image: url('../../source/images/icon-budgeting.svg');
}

.icon-onboarding{
  background-image: url('../../source/images/icon-onboarding.svg');
}

.icon-api{
  background-image: url('../../source/images/icon-api.svg');
}

.card1-caption{
  @apply text-2xl font-light my-6;
}

.card1-desc{
  @apply text-cst-neutral-grayishblue;
}

.card2{
  @apply rounded-md shadow-sm;

}

.card2-img{
  @apply block;
}

.card2-wrapper{
  @apply bg-cst-neutral-white p-4;
}

.card2-author{
  @apply text-cst-neutral-grayishblue text-xs mt-3;
}

.card2-caption{
  @apply text-xl mt-3;
}

.card2-desc {
  @apply text-cst-neutral-grayishblue text-sm mt-3;
}

.item-footer ul {
  @apply text-sm;
}

.item-footer ul li {
  @apply leading-8;
}

.item-footer ul li:hover {
  @apply text-cst-neutral-white;
}

.icons i {
  @apply mx-2;
}

#copy {
  @apply text-xs text-cst-neutral-grayishblue;
}

.intro1{
  @apply py-40;
}
.why{
  @apply py-32;
}
.articles{
  @apply py-24;
}


@screen sm {
  #nav {
    top: 7rem;
  }

  .main-menu-link {
    @apply my-1;
  }

  .main-menu-link:hover {
    @apply text-cst-neutral-grayishblue;
  }

  .intro1 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .intro2 {
    /* Background image proportion: h/w = 1.128 */
    width: 100%;
    height: 90vw;
    background-image: url('../../source/images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left 0 top 0;
  }

  .intro-image2 {
    /* Background image proportion: h/w = 1.22425032595 */
    width: 100%;
    height: 100%;
    background-image: url('../../source/images/image-mockups.png');
    background-repeat: no-repeat;
    background-position: left 0 bottom -1rem;
    background-size: 100%;
  }

  .card1 {
    @apply flex flex-col justify-center items-center;
  }

  .card2 {
    @apply flex flex-col justify-center items-center;
  }

  .card2-img-wrapper {
    @apply border w-full;
  }

  .card2-img {
    @apply border w-full;
  }

  .item-footer ul li {
    @apply text-center;
  }

  .intro1{
    @apply pt-6 pb-20;
  }
  .why{
    @apply py-20;
  }
  .articles{
    @apply py-20;
  }

  .card1, .card2 {
    @apply mb-6;
  }


}

@screen md {

  .intro1 {
    padding-left: 10%; /* according to .container-80 */
  }

  .intro2 {
    background-image: url('../../source/images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: right -15rem top -10rem;
    /* Background image proportion: 0.813532651456 */
    background-size: 70rem 56.95rem;
  }

  .intro-image2 {
    height: 50rem;
    width: 100%;
    background-image: url('../../source/images/image-mockups.png');
    background-repeat: no-repeat;
    background-position: right -8rem top -8rem;
    position: absolute;
  }

  .card1{
    @apply flex flex-col justify-center items-start;
  }

  .card2{
    @apply flex flex-col justify-start items-start;
  }

  .card1, .card2 {
    @apply mb-6;
    width: 45%;
  }

  footer {
    min-height: 12rem;
  }
}

@screen lg {

  .card1, .card2 {
     @apply mb-0;
     width: 23%;
  }

}