@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

h1{
  @apply text-4xl;
}

h2{
  @apply text-3xl;
}

.main-menu-link {
  @apply text-base font-normal leading-loose px-4 pt-1 block;
}

.main-menu-link.active {
  @apply font-bold;
}

.main-menu-link:hover {
}

.footer-menu li:hover {
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@screen sm {
  #nav{
    top: 7rem;
  }
  .main-menu-link {
    @apply my-1;
  }
}